doctype html
html
    head
        link(rel="stylesheet" href="/css/styles.css")


    body
        a(class="home-link" href="/")
            button(class="home-button") Return Home

        if message
            h1(class="main-heading") #{message.subject}

            div(class="message-content-container")
                p(class="message-content") #{message.content}
        else
            h1(class="main-heading") Error

            div(class="message-content-container")
                p(class="message-content") Message was not found.
