doctype html
html
    head
        link(rel="stylesheet" href="/css/styles.css")
        script(src="/js/scripts.js")

    body
        a(class="home-link" href="/")
            button(class="home-button") Return Home

        h1(class="main-heading") 404 Not Found

        p(class="error-text") Sorry, we couldn't find what you're looking for.

        img(class="error-img" src="https://bit.ly/3DrTZpA" alt="error-rubble")
